
<h2><%= @movie.title %></h2><br>
<% Movie.all.each do |movie| %>
    <% if movie.title == @movie.title %>
        <% movie.reviews.each do |review| %>
            <%= review.rating %> <br>
            <%= review.comment %><br>
            <% end %>
    <% end %>
<% end %> <br> <br>

<a href='/movies/<%= @user.slug %>'>Back to your movies</a>