<form method='POST' action='/reviews'>
<input type='text' name='user[:comment]' id='user_comment'>
<input type="text" list="rating" id="rating" name="rating">
  <datalist id="rating">
    <option value="1 Star"></option>
    <option value="2 Star"></option>
    <option value="3 Star"></option>
    <option value="4 Star"></option>
  </datalist>
<input type='submit' value='submit'>
</form>>