<form method='POST' action='/reviews/<%= @movie.slug %>'>
<label for='user_comment'>Leave your thoughts and opinions below, but no one cares</label> <br>
<textarea rows='8' cols='70' name='comment' id='user_comment' > </textarea> <br><br>
<label for='rating'>How many gold stars does this movie get?</label>
<select id="rating" name="rating">
    <option value="1">One Star</option>
    <option value="2">Two Star</option>
    <option value="3">Three Star</option>
    <option value="4">Four Star</option>
  </select>
<input type='submit' value='submit'>
</form>